<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RemoteRecruit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BB9B9FB2FD57C9A000DB0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB9BA082FD57C9D000DB0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB9BA122FD57C9D000DB0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
